header, nav ul {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

nav ul{
    list-style-type: none;
   
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    align-self: flex-end;
}
